<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Tracker</title>
</head>
<body>
    <h1>Movie Tracker</h1>
    <form method ='POST' action= "/login">
    
        <input type="text" placeholder=" Username" name="username">


        <input type="password" placeholder="Password" name="password">

        <button>Log In</button>

        <p>{{errorMessage}}</p>
    </form>
</body>
</html>