<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
</head>
<body>
    <h1>Movie List</h1>
    <a href="/movies/create">Add a Movie</a>
    <ul>
        {{#allMovies}}
        <li>
        {{title}} - Genre: {{genre}}
        {{description}}
        {{image}}
        </li>
        {{/allMovies}}
    </ul>

    {{^allMovies}}
            Movie list is empty!
        {{/allMovies}}
</body>
</html>