<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie List</title>
  </head>
  <body>
    
    <form method="POST" action="/logout">
      <button>Log out</button>
    </form>

    <h1>Movie List</h1>
    <a href="/movies/create">Add a Movie</a>
    <div>
      <form id="genreForm">
        <label for="genre">Select genre to filter by:</label>
        <select id = "genreSelect" name = "genre">
          <option value="all">All Genres</option>
          <option value="action">Action</option>
          <option value="drama">Drama</option>
          <option value="comedy">Comedy</option>
          <option value="horror">Horror</option>
          <option value="romance">Romance</option>
          <option value="sci-fi">Sci-Fi</option>
          <option value="thriller">Thriller</option>
          <option value="other">Other</option>
        </select>
        <button id = "applyFilterButton">Apply Filter</button>
      </form>
    </div>
    <ul>
      {{#allMovies}}
      <li>
        <div>{{ title }}</div>
        <div>Genre: {{ genre }}</div>
        <div>{{ description }}</div>
        <div></div><img src="{{image}}"/></div>
        <form method="POST" action="/movies/delete">
          <input type="hidden" name="id" value="{{ movieID }}" />
          <button>Delete Movie</button>
        </form>
      </li>
      {{/allMovies}}
    </ul>
    {{message}}
    <p>{{^allMovies}}
    Movie list is empty!
    {{/allMovies}}</p>


    <script src = "/client/app.js"></script>

  </body>
</html>
