<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h3>Register for an account:</h3>
    <form method="POST" action = "/register">
        <input type="text" placeholder="Desired username" name="username">
        <input type="password" placeholder="Desired password" name="password">
        <button>Register</button>
    </form>
    
</body>
</html>