body {
    background-color: rgb(197, 197, 172);
}

.header {
	width: 100%;
	height:88px;
	background-color: rgb(56, 66, 46);
    color: rgb(197, 197, 172);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10;
    border: 0;
    margin: -10;
}

.header #header_title {
    font-size: 36;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-self: center;
    margin-left: 30;
        
}

#header_text {
    font-size: 11px;
    text-align: right;
    max-width: 40%;
    margin: 5 20 10 0;

}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: -15 10 0 0;
}

#menu li {
    color: rgb(197, 197, 172);
    background-color: rgba(66, 54, 35, 0.785);
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 5;
    border: 2;
    border-style: outset;
    border-color: black;
    margin: 10;
}

.main {
    display: flex;
    flex-direction: row;
}

.aside {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(197, 197, 172);
    background-color: rgb(56, 66, 46);
    width: fit-content;
    height: fit-content;
    margin: -50 30;
    padding: 15 30 15 30;
    flex-shrink: 0;
}

.aside_title {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px rgb(197, 197, 172);
    border-style: dashed none;
    margin: 5 0;
    padding: 10 0;
}

.aside_list {
    font-size: 12;
    padding: 10 0;
}

.aside li {
    list-style-type: disclosure-closed;
    padding: 3;
}

/* .infoblock {

} */

@media screen and (max-width: 650px) {
    .header #header_title {
        font-size: 28;
    }

    #menu {
        display: flex;
        flex-direction: column;
        margin: 15 0 2 0;
        width: 100%;
    }

    #menu li {
        text-align: center;
        margin: 2;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .aside {
        margin: 5 0 2 0;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .aside li {
        list-style: none;
        
    }
}